[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scikit-learn = "==0.19.1"
cvxpy = "*"
dccp = "*"
numpy = "==1.16.4"
scipy = "==1.2.2"

[requires]
python_version = "2.7"
